  h2 {
      margin: 0;
      color: #382;
      font-size: 1.3em;  
  }
  h3 {
      color: #823;
      margin-bottom: 5px;
      font-size: 1.1em;
  }
  ul#cityList {
    padding: 0;
    list-style: none;
  }
  button.delete {
      border: 0;
  }
  ul#cityList a {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    color: white;
    background-color: #382;
    margin: 5px;
    border-radius: 10px 0;
  }